<!DOCTYPE html>
<html>
  <head>
    <title>AsturiasHacking</title>

    <link rel="stylesheet" href="./css/theme.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">
  </head>
  <body>
    <div class="content-box">
      <img class="content-box__logo" src="/img/logo.svg" alt="AsturiasHacking">
      <nav class="content-box__nav">
        <ul class="nav">
          <li class="nav__item">Sesiones &amp;&amp; Charlas</li>
          <li class="nav__item">Vídeos</li>
          <li class="nav__item">Sobre nosotros</li>
          <li class="nav__item">Twitter</li>
          <li class="nav__item">Meetup</li>
        </ul>
      </nav>
      <div>
        <p>
          ¿Estás en Asturias y quieres charlar un rato sobre desarrollo de software? ¡Únete! Organizaremos charlas y
          talleres, <strong>hackearemos</strong> un rato, intercambiaremos información y ejecutaremos proyectos Open
          Source para tratar de mejorar nuestro entorno y la sociedad en la que vivimos.
        </p>
      </div>
    </div>
  </body>
</html>
